<!DOCTYPE html>
<html lang="cn">
<head>
    <!--
        ===
        This comment should NOT be removed.

        Charisma v2.0.0

        Copyright 2012-2014 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
        ===
    -->
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src=""></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">

</head>

<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"> <img alt="Charisma Logo" src="img/logo20.png" class="hidden-xs"/>
            <span>系统LOGO</span></a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> 管理员</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </div>
        <!-- user dropdown ends -->

        <!-- theme selector starts -->
        <div class="btn-group pull-right theme-container animated tada">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> 更换皮肤</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="themes">
                <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
            </ul>
        </div>
        <!-- theme selector ends -->

        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
            <li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> 下载菜单 <span
                            class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li>
                <form class="navbar-search pull-left">
                    <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                           type="text">
                </form>
            </li>
        </ul>

    </div>
</div>
<!-- topbar ends -->
<div class="ch-container">
    <div class="row">

        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span> 仪表盘</span></a>
                        </li>
                        <li><a class="ajax-link" href="ui.html"><i class="glyphicon glyphicon-eye-open"></i><span> UI Features</span></a>
                        </li>
                        <li><a class="ajax-link" href="form.html"><i
                                        class="glyphicon glyphicon-edit"></i><span> Forms</span></a></li>
                        <li><a class="ajax-link" href="chart.html"><i class="glyphicon glyphicon-list-alt"></i><span> Charts</span></a>
                        </li>
                        <li><a class="ajax-link" href="typography.html"><i class="glyphicon glyphicon-font"></i><span> Typography</span></a>
                        </li>
                        <li><a class="ajax-link" href="gallery.html"><i class="glyphicon glyphicon-picture"></i><span> Gallery</span></a>
                        </li>
                        <li class="nav-header hidden-md">Sample Section</li>
                        <li><a class="ajax-link" href="table.html"><i
                                        class="glyphicon glyphicon-align-justify"></i><span> Tables</span></a></li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Accordion Menu</span></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Child Menu 1</a></li>
                                <li><a href="#">Child Menu 2</a></li>
                            </ul>
                        </li>
                        <li><a class="ajax-link" href="calendar.html"><i class="glyphicon glyphicon-calendar"></i><span> Calendar</span></a>
                        </li>
                        <li><a class="ajax-link" href="grid.html"><i
                                        class="glyphicon glyphicon-th"></i><span> Grid</span></a></li>
                        <li><a href="tour.html"><i class="glyphicon glyphicon-globe"></i><span> Tour</span></a></li>
                        <li><a class="ajax-link" href="icon.html"><i
                                        class="glyphicon glyphicon-star"></i><span> Icons</span></a></li>
                        <li><a href="error.html"><i class="glyphicon glyphicon-ban-circle"></i><span> Error Page</span></a>
                        </li>
                        <li><a href="login.html"><i class="glyphicon glyphicon-lock"></i><span> Login Page</span></a>
                        </li>
                    </ul>
                    <label id="for-is-ajax" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                </ul>
            </div>
            <div class=" row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a data-toggle="tooltip" title="6 new members." class="well top-block" href="#">
                        <i class="glyphicon glyphicon-user blue"></i>

                        <div>统计成员</div>
                        <div>507</div>
                        <span class="notification">6</span>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a data-toggle="tooltip" title="4 new pro members." class="well top-block" href="#">
                        <i class="glyphicon glyphicon-star green"></i>

                        <div>在线成员</div>
                        <div>228</div>
                        <span class="notification green">4</span>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="#">
                        <i class="glyphicon glyphicon-shopping-cart yellow"></i>

                        <div>销售</div>
                        <div>$13320</div>
                        <span class="notification yellow">$34</span>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a data-toggle="tooltip" title="12 new messages." class="well top-block" href="#">
                        <i class="glyphicon glyphicon-envelope red"></i>

                        <div>消息</div>
                        <div>25</div>
                        <span class="notification red">12</span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well">
                            <h2><i class="glyphicon glyphicon-info-sign"></i> 分绍</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content row">
                            <div class="col-lg-7 col-md-12">
                                <h1>NodeMyDesk <br>
                                    <small>基于Node.js的桌面应用开发框架.</small>
                                </h1>
                                <p>It's a live demo of the template. I have created Charisma to ease the repeat work I have to do on my
                                    projects. Now I re-use Charisma as a base for my admin panel work and I am sharing it with you
                                    :)</p>

                                <p><b>All pages in the menu are functional, take a look at all, please share this with your
                                        followers.</b></p>

                                <p class="center-block download-buttons">
                                    <a href="" class="btn btn-primary btn-lg"><i
                                                class="glyphicon glyphicon-chevron-left glyphicon-white"></i> Back to article</a>
                                    <a href="" class="btn btn-default btn-lg"><i
                                                class="glyphicon glyphicon-download-alt"></i> Download Page</a>
                                </p>
                            </div>
                            <!-- Ads, you can remove these -->
                            <!--<div class="col-lg-5 col-md-12 hidden-xs center-text">-->
                                <!--<script async src=""></script>-->
                                <!--&lt;!&ndash; Charisma Demo 4 &ndash;&gt;-->
                                <!--<ins class="adsbygoogle"-->
                                     <!--style="display:inline-block;width:336px;height:280px"-->
                                     <!--data-ad-client="ca-pub-5108790028230107"-->
                                     <!--data-ad-slot="9467443105"></ins>-->
                                <!--<script>-->
                                    <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
                                <!--</script>-->
                            <!--</div>-->

                            <!--<div class="col-lg-5 col-md-12 visible-xs center-text">-->
                                <!--<script async src=""></script>-->
                                <!--&lt;!&ndash; Charisma Demo 5 &ndash;&gt;-->
                                <!--<ins class="adsbygoogle"-->
                                     <!--style="display:inline-block;width:250px;height:250px"-->
                                     <!--data-ad-client="ca-pub-5108790028230107"-->
                                     <!--data-ad-slot="8957582309"></ins>-->
                                <!--<script>-->
                                    <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
                                <!--</script>-->
                            <!--</div>-->
                            <!-- Ads end -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="box col-md-4">
                    <div class="box-inner homepage-box">
                        <div class="box-header well">
                            <h2><i class="glyphicon glyphicon-th"></i> Tabs</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a href="#info">Info</a></li>
                                <li><a href="#custom">Custom</a></li>
                                <li><a href="#messages">Messages</a></li>
                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane active" id="info">
                                    <h3>Charisma
                                        <small>a full featured template</small>
                                    </h3>
                                    <p>It's a full featured, responsive template for your admin panel. It's optimized for tablets
                                        and mobile phones.</p>

                                    <p>Check how it looks on different devices:</p>
                                    <a href=""
                                       target="_blank"><strong>Preview on iPhone size.</strong></a>
                                    <br>
                                    <a href=""
                                       target="_blank"><strong>Preview on iPad size.</strong></a>
                                </div>
                                <div class="tab-pane" id="custom">
                                    <h3>Custom
                                        <small>small text</small>
                                    </h3>
                                    <p>Sample paragraph.</p>

                                    <p>Your custom text.</p>
                                </div>
                                <div class="tab-pane" id="messages">
                                    <h3>Messages
                                        <small>small text</small>
                                    </h3>
                                    <p>Sample paragraph.</p>

                                    <p>Your custom text.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/span-->

                <div class="box col-md-4">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> Member Activity</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="box-content">
                                <ul class="dashboard-list">
                                    <li>
                                        <a href="#">
                                            <img class="dashboard-avatar" alt="Usman"
                                                 src=""></a>
                                        <strong>Name:</strong> <a href="#">Usman
                                        </a><br>
                                        <strong>Since:</strong> 17/05/2014<br>
                                        <strong>Status:</strong> <span class="label-success label label-default">Approved</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="dashboard-avatar" alt="Sheikh Heera"
                                                 src=""></a>
                                        <strong>Name:</strong> <a href="#">Sheikh Heera
                                        </a><br>
                                        <strong>Since:</strong> 17/05/2014<br>
                                        <strong>Status:</strong> <span class="label-warning label label-default">Pending</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="dashboard-avatar" alt="Abdullah"
                                                 src=""></a>
                                        <strong>Name:</strong> <a href="#">Abdullah
                                        </a><br>
                                        <strong>Since:</strong> 25/05/2014<br>
                                        <strong>Status:</strong> <span class="label-default label label-danger">Banned</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="dashboard-avatar" alt="Sana Amrin"
                                                 src=""></a>
                                        <strong>Name:</strong> <a href="#">Sana Amrin</a><br>
                                        <strong>Since:</strong> 17/05/2014<br>
                                        <strong>Status:</strong> <span class="label label-info">Updates</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/span-->

                <div class="box col-md-4">
                    <div class="box-inner homepage-box">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-list-alt"></i> Keep in touch</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <h3>Stay updated with my projects and blog posts</h3>
                            <!-- Begin MailChimp Signup Form -->
                            <div class="mc_embed_signup">
                                <form action="//halalit.us3.list-manage.com/subscribe/post?u=444b176aa3c39f656c66381f6&amp;id=eeb0c04e84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div>
                                        <label>Please enter your email</label>
                                        <input type="email" value="" name="EMAIL" class="email" placeholder="Email address" required>

                                        <div class="power_field"><input type="text" name="b_444b176aa3c39f656c66381f6_eeb0c04e84" tabindex="-1" value=""></div>
                                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" class="button"></div>
                                    </div>
                                </form>
                            </div>

                            <!--End mc_embed_signup-->
                            <br/>

                            <p>You may like my other open source work, check my profile on <a href=""
                                                                                              target="_blank">GitHub</a>.</p>

                        </div>
                    </div>
                </div>
                <!--/span-->
            </div><!--/row-->

            <div class="row">
                <div class="box col-md-4">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-list"></i> Buttons</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content buttons">
                            <p class="btn-group">
                                <button class="btn btn-default">Left</button>
                                <button class="btn btn-default">Middle</button>
                                <button class="btn btn-default">Right</button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-star"></i> Icon button</button>
                                <button class="btn btn-primary btn-sm">Small button</button>
                                <button class="btn btn-danger btn-sm">Small button</button>
                            </p>
                            <p>
                                <button class="btn btn-warning btn-sm">Small button</button>
                                <button class="btn btn-success btn-sm">Small button</button>
                                <button class="btn btn-info btn-sm">Small button</button>
                            </p>
                            <p>
                                <button class="btn btn-inverse btn-default btn-sm">Small button</button>
                                <button class="btn btn-primary btn-round btn-lg">Round button</button>
                                <button class="btn btn-round btn-default btn-lg"><i class="glyphicon glyphicon-ok"></i></button>
                                <button class="btn btn-primary"><i class="glyphicon glyphicon-edit glyphicon-white"></i></button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs">Mini button</button>
                                <button class="btn btn-primary btn-xs">Mini button</button>
                                <button class="btn btn-danger btn-xs">Mini button</button>
                                <button class="btn btn-warning btn-xs">Mini button</button>
                            </p>
                            <p>
                                <button class="btn btn-info btn-xs">Mini button</button>
                                <button class="btn btn-success btn-xs">Mini button</button>
                                <button class="btn btn-inverse btn-default btn-xs">Mini button</button>
                            </p>
                        </div>
                    </div>
                </div>
                <!--/span-->

                <div class="box col-md-4">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-list"></i> Buttons</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content  buttons">
                            <p>
                                <button class="btn btn-default btn-lg">Large button</button>
                                <button class="btn btn-primary btn-lg">Large button</button>
                            </p>
                            <p>
                                <button class="btn btn-danger btn-lg">Large button</button>
                                <button class="btn btn-warning btn-lg">Large button</button>
                            </p>
                            <p>
                                <button class="btn btn-success btn-lg">Large button</button>
                                <button class="btn btn-info btn-lg">Large button</button>
                            </p>
                            <p>
                                <button class="btn btn-inverse btn-default btn-lg">Large button</button>
                            </p>
                            <div class="btn-group">
                                <button class="btn btn-default btn-lg">Large Dropdown</button>
                                <button class="btn dropdown-toggle btn-default btn-lg" data-toggle="dropdown"><span
                                            class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="glyphicon glyphicon-star"></i> Action</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-tag"></i> Another action</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-download-alt"></i> Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-tint"></i> Separated link</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/span-->

                <div class="box col-md-4">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-list"></i> Weekly Stat</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <ul class="dashboard-list">
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-arrow-up"></i>
                                        <span class="green">92</span>
                                        New Comments
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-arrow-down"></i>
                                        <span class="red">15</span>
                                        New Registrations
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-minus"></i>
                                        <span class="blue">36</span>
                                        New Articles
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-comment"></i>
                                        <span class="yellow">45</span>
                                        User reviews
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-arrow-up"></i>
                                        <span class="green">112</span>
                                        New Comments
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-arrow-down"></i>
                                        <span class="red">31</span>
                                        New Registrations
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-minus"></i>
                                        <span class="blue">93</span>
                                        New Articles
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="glyphicon glyphicon-comment"></i>
                                        <span class="yellow">254</span>
                                        User reviews
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div><!--/row-->
            <!-- content ends -->
        </div><!--/#content.col-md-0-->
    </div><!--/fluid-row-->

    <!-- Ad, you can remove it -->
    <!--<div class="row">-->
        <!--<div class="col-md-9 col-lg-9 col-xs-9 hidden-xs">-->
            <!--<script async src=""></script>-->
            <!--&lt;!&ndash; Charisma Demo 2 &ndash;&gt;-->
            <!--<ins class="adsbygoogle"-->
                 <!--style="display:inline-block;width:728px;height:90px"-->
                 <!--data-ad-client="ca-pub-5108790028230107"-->
                 <!--data-ad-slot="3193373905"></ins>-->
            <!--<script>-->
                <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
            <!--</script>-->
        <!--</div>-->
        <!--<div class="col-md-2 col-lg-3 col-sm-12 col-xs-12 email-subscription-footer">-->
            <!--<div class="mc_embed_signup">-->
                <!--<form action="//halalit.us3.list-manage.com/subscribe/post?u=444b176aa3c39f656c66381f6&amp;id=eeb0c04e84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>-->
                    <!--<div>-->
                        <!--<label>Keep up with my work</label>-->
                        <!--<input type="email" value="" name="EMAIL" class="email" placeholder="Email address" required>-->

                        <!--<div class="power_field"><input type="text" name="b_444b176aa3c39f656c66381f6_eeb0c04e84" tabindex="-1" value=""></div>-->
                        <!--<div class="clear"><input type="submit" value="Subscribe" name="subscribe" class="button"></div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->

            <!--&lt;!&ndash;End mc_embed_signup&ndash;&gt;-->
        <!--</div>-->

    <!--</div>-->
    <!-- Ad ends -->

    <hr>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="" target="_blank">Muhammad
                Usman</a> 2012 - 2015</p>

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
                    href="">Charisma</a></p>
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='bower_components/moment/min/moment.min.js'></script>
<script src='bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="js/charisma.js"></script>


</body>
</html>
